.chat_main_container {
    width: 20%;
    border: 1px solid red; 
}

h3 {
    text-align: center;
}

.chat_block {
    display: flex;
    flex-direction: column;
}

.chat_list_messages {
    height: 50vh;
}

.friend_message {
    background-color: rgb(201, 201, 201);
    font-size: 14px;
    min-height: 3vh;
    border-radius: 8px;
    width: 55%;
    padding-left: 3%;
    margin-bottom: 3%;
    margin-left: 3%;
}

.my_own_message {
    background-color: rgb(152, 209, 255);
    width: 55%;
    min-height: 3vh;
    padding-left: 3%;
    margin-bottom: 3%;
    margin-left: 3%;
    font-size: 14px;
    border-radius: 8px;
}

.messages_input {
    height: 5vh;
}

.btn_message_send {
    width: 100%;
    height: 4vh;
    background-color: rgb(52, 116, 253);
    border: none;
    color: white;
    text-transform: uppercase;
}