.main_btn {
    width: 25%;
    min-height: 50px;
    margin: 20px;
    border: none;
}
.input_form {
    width: 25%;
    min-height: 30px;
    margin: 20px;
}
.form_class {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.end_call_btn {
    background: pink ;
}
.call_to_user {
    background: rgb(169, 169, 255);
    width: 25%;
    min-height: 50px;
    margin: 20px;
    border: none;
}